In [1]:
import pandas as pd

In [2]:
# read contents of csv file
file = pd.read_csv("dataset_train.csv")
# adding header
headerList = ['CAN_SMILES', 'prop_1', 'prop_2','prop_3','prop_4']

# converting data frame to csv
file.to_csv("dataset_train2.csv", header=headerList, index=False)

In [3]:
file.head()

       CC1=CCCCO1  0.9344   0.3937  -2.7334576267  6.5316
0    CC(=NN)N1CC1  1.1205  0.36672      -2.379820  6.0081
1     NN1C=CCC1=O  4.6177  0.35704      -2.109228  5.4297
2  OC(=O)C(=O)C=C  1.0933  0.31060      -1.917474  3.1556
3     Nc1nc(F)co1  3.3212  0.36979      -1.686293  6.2206
4    CN(C)C(C)=NO  1.4372  0.37153      -2.493961  6.1374

In [4]:
file2 = pd.read_csv("dataset_train2.csv")
file2.head()

       CAN_SMILES  prop_1   prop_2    prop_3  prop_4
0    CC(=NN)N1CC1  1.1205  0.36672 -2.379820  6.0081
1     NN1C=CCC1=O  4.6177  0.35704 -2.109228  5.4297
2  OC(=O)C(=O)C=C  1.0933  0.31060 -1.917474  3.1556
3     Nc1nc(F)co1  3.3212  0.36979 -1.686293  6.2206
4    CN(C)C(C)=NO  1.4372  0.37153 -2.493961  6.1374